<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelAgencyT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login_and_registration.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravelAgencyT.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="header-top">
        <div class="logo">Мир Путешествий</div>
        <div class="button-header">
            <button class="button">Войти</button>
        </div>
    </div>

    <img class="img-header" src="~/images/Designer.jpg" alt="Логотип Мир Путешествий" />
    <div id="header-bottom">
        <div class="menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#countries">Страны</a></li>
                <li><a href="#services">Услуги</a></li>
            </ul>
        </div>
    </div>

    @await Html.PartialAsync("/View/Shared/_LoginRegistrationPartial")

    <div class="container">
        @RenderBody()
    </div>

    <footer role="contentinfo">
        <div class="footer-left">
            <div class="logo">SoSkilled</div>
            <p>
                Наш портал - способ прокачивания и проверки своих знаний путем
                прохождения различных тестов и курсов. Мы предоставляем только лучшие
                программы для обучения.
            </p>
            <div class="footer-InteractivePortal">
                &copy; 2024 - InteractivePortal - Kolak
            </div>
        </div>

        <div class="footer-right">
            <div class="menu">
                <ul>
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#contact">Контакты</a></li>
                    <li><a href="#countries">Страны</a></li>
                    <li><a href="#services">Услуги</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <header-top>
        <div id="hamburger" class="icon" &#9776;></div>

        <div id="side-menu" class="side-menu">
            <div>
                <ul>
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#contact">Контакты</a></li>
                    <li><a href="#countries">Страны</a></li>
                    <li><a href="#services">Услуги</a></li>
                </ul>
            </div>
            <button class="button" id=" side-menu-button-click-to-hide" type="button"name="buttom">Войти</button>
        </div>

    </header-top>

    <script src="~/js/login_and_registration_script.js" asp-append-version="true"></script>
    <script src="~/js/shared_script.js" asp-append-version="true"></script>
    <script src="~/js/home_script.js" asp-append-version="true"></script>
</body>
</html>
